<div class = "container mt-5">
  <div class = "row">
    <div class = "col-8 mx-auto">
      <table class = "table table-borderd">
        <tr>
        </tr>
          <%= image_tag @store.get_store_image(100,100) %>
        <tr>
          <th>name</th>
          <th><%= @store.name %></th>
        </tr>
        <tr>
          <th>description</th>
          <th><%= @store.description %></th>
        </tr>
      </table>
      <% if @store.user == current_user %>
        <div>
          <%= link_to edit_store_path(@store), class: "col-5 btn btn-warning btn-block" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>