@use '~bootstrap/scss/bootstrap';

.main-visual {
  background-image: url("../images/top.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 950px;
  width: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-red {
  color: #ff0000;
}

.text-gray {
  color: #7d7d7d;
}

.bg-danger {
  background-color: #331b16 !important;
}

footer {
  background-color: #331b16;
  color: #fff;
  margin-top: auto;
  height: 3rem;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

.scroll-area {
  height: 80vh;
  overflow: auto;
}

.title-box {
  background-color: #ffc107;
  border-radius: 30px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
 }

.pagination {
  justify-content: center;
  margin-top: 3rem;
}