@use '~bootstrap/scss/bootstrap';


.text-red {
  color: #ff0000;
}

.text-gray {
  color: #7d7d7d;
}

.bg-danger {
  background-color: #331b16 !important;
}

footer {
  background-color: #331b16;
  color: #fff;
}